# Dependencies
node_modules/
**/node_modules/

# Excluded project folders & large binaries (>100MB)
Meridian-Files/
release/
**/release/
downloads/
**/downloads/
*.exe
*.zip
*.dmg

# System & IDE files
.DS_Store
Thumbs.db
*.log
